{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<h5 class="mt-3 text-center">Developed, Designed and Tested by <a target="_blank"
                href="https://github.com/anonshubh/">anonshubh</a></h5>
<div class="container">
        <div class="row">
                <ul>
                        <div class="col-12">
                                <li class="lead my-auto py-2">It's Free and Open Source.</li>
                        </div>
                        <div class="col-12">
                                <li class="lead my-auto py-2">Your Privacy is Protected.</li>
                        </div>
                        <div class="col-12">
                                <li class="lead my-auto py-2">Built using Python.</li>
                        </div>
                        <div class="col-12">
                                <li class="lead my-auto py-2"><a target="_blank" href="https://github.com/anonshubh/birthday-wisher">Source Code</a></li>
                        </div>
                </ul>
        </div>
</div>
{% endblock content %}